:focus {outline:none !important;}

a {
  color: map-get($colors, black );
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.g-section {
  height: 100vh;
}

.g-bg {
  &--home1 {
    background: url(./../assets/img/bg-home1.svg)  no-repeat;
    background-size: auto 100%;
    background-position: bottom center;

    @media (min-width: $break-medium) {
      background-position: bottom right;
    }

    &::after {
      content: '';
      background: rgba(255,255,255, .8);
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;

      @media (min-width: $break-medium) {
        display: none;
      }
    }
  }

  &-cloud {
    background: url(./../assets/img/cloud.svg) 20% 20%  no-repeat;
  }
}

.g-container {
  max-width: 1140px;

  @media (min-width: $break-xlarge) {
    max-width: $break-xlarge;

  }
}


.g-menu {
  position: fixed;
  z-index: 10;

  @media (min-width: $break-medium) {
    position: relative;
  }
}

.g-nav {
  margin: 0;  
  padding: 0;
  text-decoration: none;

  &--item {
    font-size: 14px;
    font-weight: 600;
    margin: 0 20px;
    padding: 10px 20px;
    cursor: pointer;

    @media (min-width: $break-medium) {
      display: inline-block;
      padding: 10px 0;
    }

    &:hover {
      color: darken(map-get($colors, blue), 20%);
    }
  }

  .active {
    color: map-get($colors, blue );

    a {
      color: map-get($colors, blue );
    }
  }

  &-aside {
    max-width: 102px;
  }

  &-menu {

    &--item {
      cursor: pointer;
      display: block;
      padding: 10px;
      text-align: center;
      transition: .2s;
      width: 100%;

      @media (min-width: $break-medium) {
        padding: 20px;
      }

      &:hover {
        background: map-get($colors, blue2);
      }

      &.active {
        background: map-get($colors, blue2);
      }
    }
  }
}

.g-f {

  &--thin {
    font-weight: 300;
  }

  &--semibold {
    font-weight: 600;
  }

  &--bold {
    font-weight: 700;
  }

  &--xbold {
    font-weight: 900;
  }
}

.g-vh {
  &--100 {
    min-height: 100vh;
  }

  &-content--100{
    min-height: 100vh;
    position: relative;
    z-index: 1;

    @media (min-width: $break-medium) {
      min-height: calc(100vh - 72px);
    }
  }
}

.g-price {
  max-width: 300px;
  border: 5px solid map-get($colors, white);
  padding: 20px 40px;

  &--important {
    border: 5px solid map-get($colors, blue);
  }
}

.g-input {
  background: map-get($colors, white );
  border: 0;
  color: map-get($colors, black );
  font-size: 14px;
  padding: 8px 20px;
  height: 36px;
}

// colors
.g-c {
  &--gray {
    color: map-get($colors, gray );
  }

  &--white {
    color: map-get($colors, white );
  }

  &--blue {
    color: map-get($colors, blue );
  }
}

//bg color

.g-bg-c {
  &--gray {
    background-color: map-get($colors, gray );
  }

  &--gray2 {
    background-color: map-get($colors, gray2 );
  }

  &--white {
    background-color: map-get($colors, white );
  }

  &--blue {
    background-color: map-get($colors, blue );
  }
}

//hack
.g-block {
  display: block;
}

.g-uppercase {
  text-transform: uppercase;
}
.g-hr {
  border: 1px solid map-get($colors, gray);

  &-big {
    border: 2px solid map-get($colors, gray3);
  }
}

.g-line {
  &--1 {
    line-height: 1;
  }
}

// hack for material
.mat-form-field-underline {
  display: none ;
}

.mat-form-field-infix {
  border-top: 0 solid transparent;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: map-get($colors, black );
  padding-left: 25px;
}

.mat-form-field-label-wrapper {
  top: -1.2em;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.5em;
}

.mat-empty .mat-form-field-empty {
  opacity: 1;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}