$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1609px;

$colors: (
  black: #192843,
  blue: #279AFF,
  blue2: #147CC9,
  gray: #99A4B6,
  gray2: #ECF4FF,
  gray3: #CEDDED,
  white: #fff
)
