<div class="container-fluid">
  <div class="row">
    <section class="g-section g-bg--home1 w-100" id="c1">
      <div class="g-container mx-auto">
        <nav class="text-right w-100 mt-5 g-menu">
          <ul class="g-nav">
            <li class="g-nav--item"><a href="#c1">Content 1</a></li>
            <li class="g-nav--item"><a href="#c2">Content 2</a></li>
            <li class="g-nav--item active" [routerLink]="['/dashboard'] " mat-button>Login</li>
          </ul>
        </nav>

        <div class="g-vh--100">
          <div class="d-flex align-items-center g-vh-content--100">
            <div class="w-px-md--40 w-100 pr-md-5 my-auto mx-5">
              <h2 class="g-f--xbold g-f--40 g-f-md--50 mb-2">Lorem ipsum Design</h2>
              <p class="g-f--14 g-f--semibold g-c--gray">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At
                nemo id iure iste rerum eum tempora molestias impedit eos quas!.
              </p>

              <button mat-raised-button class="mt-5 g-btn g-btn--blue g-btn--big px-5 py-2">login</button>
            </div>

          </div>
        </div>

      </div>

    </section>
    <section class=" w-100" id="c2">
      <div class="g-container mx-auto">
        <div class=" ">
          <div class="mt-5 mx-5">
            <h3 class="g-f--xbold g-f--40 g-f-md--50 mb-1">
              Content 1
            </h3>
            <p class="g-f--14 g-f--semibold g-c--gray w-px-md--40 w-100">Lorem ipsum dolor sit amet, consectetur adipi
              scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </p>
          </div>
          <div class="my-5  mx-5">
            <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="mt-2 mt-md-0 mb-4 mb-md-0 pr-md-4">
                <img src="../assets/img/imgs.jpg" width="100%" alt="img-icon">
                <p class="g-f--14 g-f--semibold g-c--gray mt-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua
                </p>
              </div>
              <div class="mt-2 mt-md-0 mb-4 mb-md-0 pr-md-4">
                <img src="../assets/img/imgs.jpg" width="100%" alt="img-icon">
                <p class="g-f--14 g-f--semibold g-c--gray mt-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua
                </p>
              </div>
              <div class="mt-2 mt-md-0 mb-4 mb-md-0 pr-md-4">
                <img src="../assets/img/imgs.jpg" width="100%" alt="img-icon">
                <p class="g-f--14 g-f--semibold g-c--gray mt-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua
                </p>
              </div>
              <div class="mt-2 mt-md-0">
                <img src="../assets/img/imgs.jpg" width="100%" alt="img-icon">
                <p class="g-f--14 g-f--semibold g-c--gray mt-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua
                </p>
              </div>

            </div>
          </div>

        </div>
      </div>

    </section>

    <section class=" w-100 g-bg-c--gray2 g-bg-cloud" id="c2">
      <div class="g-container mx-auto">
        <div class=" ">
          <div class="mt-5 pt-5 mx-5 text-right">
            <h3 class="g-f--xbold g-f--40 g-f-md--50 mb-1">
              Content 2
            </h3>
            <p class="g-f--14 g-f--semibold g-c--gray w-px-md--40 w-100 ml-auto">Lorem ipsum dolor sit amet, consectetur
              adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </p>
          </div>
          <div class="mt-5 mb-5 mx-5 d-flex flex-column flex-md-row justify-content-between">

            <div class="px-md-2">
              <div class="g-price mx-auto mb-4 mb-md-0">
                <h3 class="g-f--20 g-uppercase mb-3 g-f--bold">Lorem ipsum dolor sit amet.</h3>
                <p class=" mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, porro. Asperiores
                  voluptatum, ullam
                  suscipit quaerat quisquam, explicabo neque facere adipisci magni veritatis est, voluptatibus quam
                  incidunt accusamus debitis sapiente possimus!</p>
                <button mat-raised-button class="g-btn  g-block w-100 px-5 py-1">GET</button>
              </div>
            </div>
            <div class="px-md-2">
              <div class="g-price g-price--important mx-auto mb-4 mb-md-0">
                <h3 class="g-f--20 g-uppercase mb-3 g-f--bold">Lorem ipsum dolor sit amet.</h3>
                <p class=" mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, porro. Asperiores
                  voluptatum, ullam
                  suscipit quaerat quisquam, explicabo neque facere adipisci magni veritatis est, voluptatibus quam
                  incidunt accusamus debitis sapiente possimus!</p>
                <button mat-raised-button class="g-btn g-btn--blue g-block w-100 px-5 py-1">GET</button>
              </div>
            </div>
            <div class="px-md-2">
              <div class="g-price mx-auto">
                <h3 class="g-f--20 g-uppercase mb-3 g-f--bold">Lorem ipsum dolor sit amet.</h3>
                <p class=" mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, porro. Asperiores
                  voluptatum, ullam
                  suscipit quaerat quisquam, explicabo neque facere adipisci magni veritatis est, voluptatibus quam
                  incidunt accusamus debitis sapiente possimus!</p>
                <button mat-raised-button class="g-btn  g-block w-100 px-5 py-1">GET</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <footer class="g-footer p-3 text-center g-bg-c--blue w-100">
      <p class="g-c--white g-f--10">&copy; todo los derechos reservados</p>
    </footer>


  </div>
</div>